<header [class.logged-in]="isLoggedIn">
  <div class="logo">
    <img ngSrc="{{LogoSrc}}" alt="logo" width="77" height="75" />
    <div class="splitter"><br class="splitter"></div>
    <h1>{{ PageTitle }}</h1>
  </div>

  @if (isLoggedIn) {
    <div class="account-info">
      <div class="info">
        <div class="name">Nom du gadjo</div>
        <div class="entity">D'où qu'cest qu'y bosse le gadjo</div>
      </div>

      <div class="dropdown-wrapper">
        <button type="button" (click)="toggleDropdown()">
          <img src="/assets/icons/utilisateur.svg" alt="Utilisateur" width="50" height="50" />
        </button>

        <ul class="dropdown" *ngIf="dropdownOpen">
          <li>Accéder à la page admin</li>
          <li>Se déconnecter</li>
        </ul>
      </div>
    </div>
  }
</header>
