<header [class.logged-in]="isLoggedIn">
  <div class="logo">

    <img ngSrc="{{LogoSrc}}" alt="logo" width="77" height="75"/>
    <div class="splitter"><br class="splitter"></div>
    <h1>{{ PageTitle }}</h1>
  </div>

  @if (isLoggedIn) {
    <div class="account-info">
      <div class="info">
        <div class="name">{{ this.name + " " + this.surname }}</div>
        <div class="entity">undefined</div>
      </div>

      <div class="dropdown-wrapper">
        <button type="button" (click)="toggleDropdown()">
          <img src="/assets/icons/utilisateur.svg" alt="Utilisateur" width="50" height="50"/>
        </button>

        <ul class="dropdown" *ngIf="dropdownOpen">
          <li>
            <button (click)="goToAdmin()">Accéder à la page admin</button>
          </li>
          <li>
            <button (click)="logout()">Se déconnecter</button>
          </li>
        </ul>
      </div>
    </div>

  }
</header>
