<div class="app">
  <!-- Header commun -->
  <app-header [PageTitle]="'Outil de Trajectoire Carbone de l\'UCL'" [LogoSrc]="'assets/images/logo.png'"></app-header>

  <!-- Header spécifique aux pages de saisie -->
  <ng-container *ngIf="showSaisieHeader">
    <app-header-saisie-donnees></app-header-saisie-donnees>
  </ng-container>

  <!-- Contenu -->
  <router-outlet></router-outlet>

  <!-- Composant header spécifique à la saisie des données, visible uniquement sur certaines pages -->
  <ng-container *ngIf="isSaisiePage()">
    <app-header-saisie-donnees></app-header-saisie-donnees>
  </ng-container>

  <!-- Contenu principal (formulaires, tableaux, etc.) -->
  <router-outlet></router-outlet>
</div>
