<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <p>Email:</p>
        <input type="email" id="email" name="email" [(ngModel)]="credentials.username" required>
      </div>
      <div class="form-group">
        <div class="pwd">
          <p>Password:</p>
          <a href="#" class="forgot-password">Forgot password?</a>
        </div>
        <input type="password" id="password" name="password" [(ngModel)]="credentials.password" required>
      </div>
      <div class="remember">
        <input type="checkbox" [(ngModel)]="credentials.rememberMe" name="rememberCheckBox"/> Remember me
      </div>
      <button type="submit">Login</button>
      @if (errorMessage) {
        <p>{{ errorMessage }}</p>
      }
    </form>
  </div>
</div>
