<div class="main-container">
  <div class="left-panel">
    <div class="container">
      <!-- Message d'erreur -->
      <div *ngIf="hasError" class="no-data-message">
        Erreur lors de la récupération des machines / Aucune machine renseignée pour l'année précédente
      </div>

      <!-- Message "pas de données" -->
      <div *ngIf="!hasError && noData" class="no-data-message">
        Aucune machine renseignée pour l'année n-1.
      </div>
      <div class="table-container"  *ngIf="!hasError && !noData">
        <table class="machine-table">
          <thead>
          <tr>
            <th>Description</th>
            <th>Type de fluide</th>
            <th>Quantité de fluide</th>
            <th>Taux de fuite réel</th>
            <th>Type de machine</th>
            <th>Émission GES</th>
            <th>Supprimer</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let machine of machines">
            <td>
              <input [(ngModel)]="machine.description"/>
            </td>
            <td>
              <select [(ngModel)]="machine.typeFluide">
                <option *ngFor="let type of typesFluide" [value]="type">{{ type }}</option>
              </select>
            </td>
            <td>
              <input type="number" [(ngModel)]="machine.quantiteFluide"/>
            </td>
            <td>
              <input type="number" [(ngModel)]="machine.tauxFuite" [disabled]="!machine.tauxFuiteReelConnu"/>
            </td>
            <td>
              <select [(ngModel)]="machine.typeMachine" [disabled]="machine.tauxFuiteReelConnu">
                <option *ngFor="let type of typesMachine" [value]="type">{{ type }}</option>
              </select>
            </td>
            <td>
              <input type="number" [(ngModel)]="machine.emissionGES"/>
            </td>
            <td>
              <button (click)="supprimerMachine(machine)" title="Supprimer">🗑️</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


      <hr>

      <!-- Formulaire d'ajout -->
      <div class="form-container">
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" [(ngModel)]="newMachine.description" placeholder="Description de la machine" />
        </div>

        <div class="form-group">
          <label for="typeFluide">Type de fluide</label>
          <select id="typeFluide" [(ngModel)]="newMachine.typeFluide">
            <option *ngFor="let type of typesFluide" [value]="type">{{ type }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="quantiteFluide">Quantité de fluide (L ou kg)</label>
          <input type="number" id="quantiteFluide" [(ngModel)]="newMachine.quantiteFluide" />
        </div>

        <div class="form-group">
          <label for="tauxFuiteReelConnu">Taux de fuite réel connu ?</label>
          <div>
            <label>
              <input type="radio" [(ngModel)]="newMachine.tauxFuiteReelConnu" [value]="true" />
              Oui
            </label>
            <label>
              <input type="radio" [(ngModel)]="newMachine.tauxFuiteReelConnu" [value]="false" />
              Non
            </label>
          </div>
        </div>

        <div class="form-group" *ngIf="newMachine.tauxFuiteReelConnu">
          <label for="tauxFuite">Taux de fuite (%)</label>
          <input type="number" id="tauxFuite" [(ngModel)]="newMachine.tauxFuite" placeholder="Taux de fuite (%)" />
        </div>

        <div class="form-group" *ngIf="!newMachine.tauxFuiteReelConnu">
          <label for="typeMachine">Type de machine</label>
          <select id="typeMachine" [(ngModel)]="newMachine.typeMachine">
            <option *ngFor="let type of typesMachine" [value]="type">{{ type }}</option>
          </select>
        </div>

        <button (click)="ajouterMachine()">Ajouter la machine</button>
      </div>


    </div>
  </div>
</div>
