<div class="main-container">
  <div class="left-panel">
    <h2>Mobilité domicile-travail</h2>
    <table class="data-table">
      <thead>
      <tr>
        <th>Moyen de transport</th>
        <th *ngFor="let group of travelerGroups">{{ group }}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><strong>Nombre de jours de déplacement (an)</strong></td>
        <td>
          <input
            class="value-input"
            type="number"
            [(ngModel)]="nbJoursEtudiant"
            (blur)="updateData()"
          />
        </td>
        <td>
          <input
            class="value-input"
            type="number"
            [(ngModel)]="nbJoursSalarie"
            (blur)="updateData()"
          />
        </td>
      </tr>

      <tr *ngFor="let mode of transportModes">
        <td>{{ mode }}</td>
        <td *ngFor="let group of travelerGroups">
          <input
            type="number"
            class="value-input"
            [ngModel]="getValue(mode, group)"
            (ngModelChange)="setValueTemp(mode, group, $event)"
            (blur)="applyValue(mode, group)"
          />
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-save-footer [path]="'mobiliteDomTravOnglet'" (estTermineChange)="onEstTermineChange($event)"></app-save-footer>
