<div class="main-container">
  <div class="left-panel">
    <table class="data-table">
      <thead>
      <tr>
        <th>Moyen de transport</th>
        <th>Allers simples Étudiant</th>
        <th>Distance AR Étudiant (km)</th>
        <th>Allers simples Salarié</th>
        <th>Distance AR Salarié (km)</th>
      </tr>
      </thead>
      <tbody>

        @for (mode of moyens; track moyens) {
          <tr>
            <td>{{ mode.label }}</td>
            <td>
              <input type="number" class="value-input" min="0"
                     [(ngModel)]="getEntry(mode.etudiantKey).trips"/>
            </td>
            <td>
              <input type="number" class="value-input" min="0" step="0.1"
                     [(ngModel)]="getEntry(mode.etudiantKey).distance"/>
            </td>
            <td>
              <input type="number" class="value-input" min="0"
                     [(ngModel)]="getEntry(mode.salarieKey).trips"/>
            </td>
            <td>
              <input type="number" class="value-input" min="0" step="0.1"
                     [(ngModel)]="getEntry(mode.salarieKey).distance"/>
            </td>
          </tr>
        }


      </tbody>
    </table>
  </div>
</div>
