<div class="dashboard-page">
  <div class="dashboard-container">
  <h2>Saisie des données</h2>

  <div class="dashboard-buttons" >
    <button class="main-button" (click)=goToEnergie()>
      ✏️ Renseigner année courante
    </button>

    <button class="main-button year-selector-button" (click)=goToEnergieAvecAnnee()>
      ✏️ Modifier une autre année
      <select class="year-select" [(ngModel)]="selectedYear" (ngModelChange)="onYearChange($event)">
        <option *ngFor="let year of years" [value]="year.value">
          {{ year.label }}
        </option>
      </select>
    </button>

    <div class="main-button year-selector-button">
      <div class="year-button-text" (click)="goToEnergieAvecAnnee()">
        ✏️ Modifier une autre année
      </div>
      <select class="year-dropdown" [(ngModel)]="selectedYear" (ngModelChange)="onYearChange($event)">
        <option *ngFor="let year of years" [value]="year.value">{{ year.label }}</option>
      </select>
    </div>

  </div>

  <p class="subtitle">
    État d’avancement de la saisie des données de l’année courante
  </p>

  <div class="status-grid">
    <div class="column">
      <div class="row" *ngFor="let onglet of onglets.slice(0, 6)">
        <span class="icon" [ngClass]="getStatus(onglet.path) ? 'green' : 'red'">
          {{ getStatus(onglet.path) ? '✅' : '❌' }}
        </span>
        {{ onglet.label }}
        <span class="edit" (click)="goToSaisie(onglet.path)">✏️</span>
      </div>
    </div>
    <div class="column">
      <div class="row" *ngFor="let onglet of onglets.slice(6)">
        <span class="icon" [ngClass]="getStatus(onglet.path) ? 'green' : 'red'">
          {{ getStatus(onglet.path) ? '✅' : '❌' }}
        </span>
        {{ onglet.label }}
        <span class="edit" (click)="goToSaisie(onglet.path)">✏️</span>
      </div>
    </div>
  </div>
  </div>
  <div class="dashboard-side"></div>
</div>
