<div class="header-container">
  <div class="boutons-sur-bar">
    <!-- Bouton Accueil -->
    <button class="button home-button" (click)="navigateToDashboard()">Accueil</button>

    <!-- Texte Année -->
    <span class="year-label">Année : {{ currentYear-1 }} - {{currentYear}}</span>

    <!-- Bouton Sauvegarder -->
    <button class="button primary-button">Sauvegarder</button>

    <!-- Trait séparateur -->
    <div class="splitter"><br class="splitter"></div>

    <!-- Boutons Suivi et Récap -->
    <button class="button primary-button">Trajectoire</button>
    <button class="button primary-button">Synthèse EGES en 2024-25</button>

    <!-- Changer d'année + Sélecteur -->
    <div class="year-change-container">
      <span class="year-change-label">Editer l'année :</span>
      <select class="year-select" [(ngModel)]="selectedYear">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
  </div>

  <!-- Barre de navigation dans un rectangle blanc -->
  <div class="nav-wrapper">
    <div class="nav-container">
      <!-- Flèche gauche -->
      <button class="nav-arrow left" (click)="scrollLeft()" [disabled]="startIndex === 0">←</button>

      <!-- Conteneur des onglets -->
      <div class="tabs-container">
        <div class="tabs">
          <button *ngFor="let tab of visibleTabs()"
                  [ngClass]="getTabClass(tab)"
                  class="tab"
                  (click)="navigateTo(tab)">
            {{ tab }}
          </button>
        </div>
      </div>

      <!-- Flèche droite -->
      <button class="nav-arrow right" (click)="scrollRight()" [disabled]="startIndex + visibleCount >= tabs.length">→
      </button>
    </div>
  </div>
</div>
