<div class="main-container">
  <div class="left-panel">
    <h2>Déchets</h2>
    <div *ngFor="let item of items">
      <h3>{{ item.type }}</h3>
      <label>
        Traitement :
        <select class="unit-select" [(ngModel)]="item.traitement">
          <option [ngValue]="null">-- Sélectionner --</option>
          <option *ngFor="let t of traitements" [ngValue]="t">{{ t }}</option>
        </select>
      </label>
      <label>
        Quantité (tonnes) :
        <input type="number" class="value-input" [(ngModel)]="item.quantiteTonne" min="0">
      </label>
    </div>
  </div>
</div>

<app-save-footer></app-save-footer>
