<!-- Bouton de retour -->
<div class="top-bar">
  <button class="back-button" (click)="goBackToDashboard()" mat-button ><mat-icon>arrow_back</mat-icon> Accueil</button>
</div>

<div class="params-container">
  <div class="top-sections">
    <!-- Section: Paramètres personnels -->
    <section class="card" data-title="Paramètres personnels">
      <form #form="ngForm">
        <label>Prénom</label>
        <input type="text" [(ngModel)]="user.firstName" name="firstName">

        <label>Nom</label>
        <input type="text" [(ngModel)]="user.lastName" name="lastName">

        <label>Email</label>
        <input type="email" [(ngModel)]="user.email" name="email">

        <button type="button" (click)="updateInfo()"
                [disabled]="!user.firstName || !user.lastName || !user.email||
    !isEmailValid(user.email)" class="btn-update">
          Changer ses informations
        </button>
      </form>
    </section>

    <!-- Section: Réinitialisation mot de passe -->
    <section class="card" data-title="Changer son mot de passe">
      <button class="password-reset" (click)="sendPasswordReset()">Envoyer un mail de réinitialisation</button>
    </section>
  </div>
  <!-- Grille des blocs params -->
  <div class="params-grid">
    <!-- Section: Créer une entité -->
    <div *ngIf="isSuperAdmin()">
      <section class="card" data-title="Créer une entité">
        <form #form="ngForm">

          <p class="section-info">Paramètres de l'entité</p>

          <label>Nom</label>
          <input type="text" [(ngModel)]="entityToCreate.name" name="entityNameCreate">

          <label>Type</label>
          <select [(ngModel)]="entityToCreate.type" name="entityTypeCreate">
            <option>Enseignement Supérieur</option>
            <option>Collectivité</option>
          </select>

          <p class="section-info">Profil du premier admin de l'entité</p>

          <label>Prénom</label>
          <input type="text" placeholder="Prénom" [(ngModel)]="entityToCreate.admin.firstName"
                 name="adminFirstNameCreate">

          <label>Nom</label>
          <input type="text" placeholder="Nom" [(ngModel)]="entityToCreate.admin.lastName" name="adminLastName">

          <label>Email</label>
          <input type="email" placeholder="Email" [(ngModel)]="entityToCreate.admin.email" name="adminEmail">

          <button type="button" (click)="createEntity()"
                  [disabled]="!entityToCreate.name || !entityToCreate.type || !entityToCreate.admin.firstName || !entityToCreate.admin.lastName || !isEmailValid(entityToCreate.admin.email)"
                  class="btn-update">Créer l'entité
          </button>
        </form>
      </section>
    </div>
    <!-- Section: Ajouter un utilisateur Super Admin-->
    <div *ngIf="isSuperAdmin()">
      <section class="card" data-title="Ajouter un utilisateur à une entité">
        <form #form="ngForm">
          <label>Sélectionner l'entité</label>
          <select [(ngModel)]="selectedEntity" name="selectedEntity" (ngModelChange)="onEntityChange($event)">
            <option *ngFor="let e of entitiesList" [value]="e.id">{{ e.nom }}</option>
          </select>

          <label>Prénom</label>
          <input type="text" placeholder="Prénom" [(ngModel)]="userToAdd.prenom" name="adminFirstName">

          <label>Nom</label>
          <input type="text" placeholder="Nom" [(ngModel)]="userToAdd.nom" name="adminLastName">

          <label>Email</label>
          <input type="email" placeholder="Email" [(ngModel)]="userToAdd.email" name="adminEmail">

          <div class="checkbox-line">
            <input type="checkbox" id="adminCheckbox" [(ngModel)]="userToAdd.estAdmin" name="adminIsAdmin">
            <label for="adminCheckbox">Utilisateur avec rôle "Admin"</label>
          </div>

        </form>
        <button type="button"
                (click)="addUser()"
                [disabled]="!selectedEntity || !userToAdd.prenom || !userToAdd.nom || !userToAdd.email || !isEmailValid(userToAdd.email)"
                class="btn-update">
          Ajouter l'utilisateur
        </button>
      </section>
    </div>

    <!-- Section: Ajouter un utilisateur Admin-->
    <div *ngIf="isAdmin()">
      <section class="card" data-title="Ajouter un utilisateur">
        <form #form="ngForm">
          <label>Prénom</label>
          <input type="text" placeholder="Prénom" [(ngModel)]="userToAdd.prenom" name="adminFirstName">

          <label>Nom</label>
          <input type="text" placeholder="Nom" [(ngModel)]="userToAdd.nom" name="adminLastName">

          <label>Email</label>
          <input type="email" placeholder="Email" [(ngModel)]="userToAdd.email" name="adminEmail">

          <div class="checkbox-line">
            <input type="checkbox" id="adminCheckbox" [(ngModel)]="userToAdd.estAdmin" name="adminIsAdmin">
            <label for="adminCheckbox">Utilisateur avec rôle "Admin"</label>
          </div>
        </form>
        <button type="button"
                (click)="addUser()"
                [disabled]="!userToAdd.prenom || !userToAdd.nom || !userToAdd.email || !isEmailValid(userToAdd.email)"
                class="btn-update">
          Ajouter l'utilisateur
        </button>
      </section>
    </div>

    <!-- Section: Gestion des utilisateurs Super Admin-->
    <div *ngIf="isSuperAdmin()">
      <section class="card" data-title="Gestion des utilisateurs">
        <label>Entité :</label>
        <select [(ngModel)]="selectedEntity" name="selectedEntity" (ngModelChange)="onEntityChange($event)">
          <option *ngFor="let e of entitiesList" [value]="e.id">{{ e.nom }}</option>
        </select>

        <table class="user-table">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Admin</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of utilisateursEntiteSelectionnee">
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>
              <input
                type="checkbox"
                [checked]="user.estAdmin"
                (change)="onToggleAdmin(user)"
                [disabled]="!isAdmin || !isSuperAdmin"
              />
            </td>
            <td>
              <button title="Supprimer" (click)="deleterUser(user.id)">🗑️</button>
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
    <!-- Section: Gestion des utilisateurs Admin-->
    <div *ngIf="isAdmin()">
      <section class="card" data-title="Gestion des utilisateurs">
        <table *ngIf="utilisateursEntiteSelectionnee.length >0" class="user-table">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Admin</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of utilisateursEntiteSelectionnee">
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>
              <input
                type="checkbox"
                [checked]="user.estAdmin"
                (change)="onToggleAdmin(user)"
                [disabled]="!isAdmin || !isSuperAdmin"
              />
            </td>
            <td>
              <button title="Supprimer" (click)="deleterUser(user.id)">🗑️</button>
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
