<div class="main-container">
  <div class="left-panel">
    <h2>Poste consommable</h2>
    <table class="data-table">
      <thead>
        <tr><th>Élément</th><th>Unité</th><th>Quantité</th></tr>
      </thead>
      <tbody>
        <tr><td>Papier (ramettes)</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.papierCons" /></td></tr>
        <tr><td>Livres</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.livresCons" /></td></tr>
        <tr><td>Carton neuf</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.cartonNeufCons" /></td></tr>
        <tr><td>Carton recycle</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.cartonRecycleCons" /></td></tr>
        <tr><td>Petites fournitures</td><td>€</td><td><input type="number" [(ngModel)]="items.fournituresCons" /></td></tr>
        <tr><td>Nb impressions jet d'encre</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.jetEncreConsTonnes" /></td></tr>
        <tr><td>Nb impressions jet d'encre</td><td>Nombre de ramettes</td><td><input type="number" [(ngModel)]="items.jetEncreConsRamettes" /></td></tr>
        <tr><td>Nb impressions toner</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.tonerConsTonnes" /></td></tr>
        <tr><td>Nb impressions toner</td><td>Nombre de ramettes</td><td><input type="number" [(ngModel)]="items.tonerConsRamettes" /></td></tr>
        <tr><td>Produits pharmaceutiques</td><td>€</td><td><input type="number" [(ngModel)]="items.pharmaCons" /></td></tr>
      </tbody>
    </table>

    <h2>Poste textile</h2>
    <table class="data-table">
      <thead>
        <tr><th>Élément</th><th>Unité</th><th>Quantité</th></tr>
      </thead>
      <tbody>
        <tr><td>Papier (ramettes)</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.papierTextile" /></td></tr>
        <tr><td>Livres</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.livresTextile" /></td></tr>
        <tr><td>Carton neuf</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.cartonNeufTextile" /></td></tr>
        <tr><td>Carton recycle</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.cartonRecycleTextile" /></td></tr>
        <tr><td>Petites fournitures</td><td>€</td><td><input type="number" [(ngModel)]="items.fournituresTextile" /></td></tr>
        <tr><td>Nb impressions jet d'encre</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.jetEncreTextileTonnes" /></td></tr>
        <tr><td>Nb impressions jet d'encre</td><td>Nombre de ramettes</td><td><input type="number" [(ngModel)]="items.jetEncreTextileRamettes" /></td></tr>
        <tr><td>Nb impressions toner</td><td>Tonnes</td><td><input type="number" [(ngModel)]="items.tonerTextileTonnes" /></td></tr>
        <tr><td>Nb impressions toner</td><td>Nombre de ramettes</td><td><input type="number" [(ngModel)]="items.tonerTextileRamettes" /></td></tr>
        <tr><td>Produits pharmaceutiques</td><td>€</td><td><input type="number" [(ngModel)]="items.pharmaTextile" /></td></tr>
      </tbody>
    </table>

    <h2>Poste restauration</h2>
    <p>Avez-vous déjà calculé le bilan carbone du poste restauration ?</p>
    <label><input type="radio" name="hasBilanCarbone" [(ngModel)]="items.hasBilanCarbone" [value]="true" /> Oui</label>
    <label><input type="radio" name="hasBilanCarbone" [(ngModel)]="items.hasBilanCarbone" [value]="false" /> Non</label>

    <div *ngIf="items.hasBilanCarbone">
      <label>Bilan carbone total :
        <input type="number" [(ngModel)]="items.bilanCarboneTotal" />
      </label>
    </div>

    <div *ngIf="items.hasBilanCarbone === false">
      <p>Connaissez-vous la quantité d'aliments consommés (en tonnes) ?</p>
      <label><input type="radio" name="quantiteAliments" [(ngModel)]="items.connaitQuantiteAliments" [value]="true" /> Oui</label>
      <label><input type="radio" name="quantiteAliments" [(ngModel)]="items.connaitQuantiteAliments" [value]="false" /> Non</label>

      <div *ngIf="items.connaitQuantiteAliments">
        <table class="data-table">
          <thead>
            <tr><th>Aliment</th><th>Poids en tonne</th><th>Émissions GES (TCO2e/an)</th></tr>
          </thead>
          <tbody>
            <tr><td>Boeuf/agneau/mouton</td><td><input type="number" [(ngModel)]="items.boeufAgneauMouton" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Poulet</td><td><input type="number" [(ngModel)]="items.poulet" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Café</td><td><input type="number" [(ngModel)]="items.cafe" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Chocolat</td><td><input type="number" [(ngModel)]="items.chocolat" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Beurre</td><td><input type="number" [(ngModel)]="items.beurre" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Viandes – moyenne</td><td><input type="number" [(ngModel)]="items.viandesMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Produits sucrés – moyenne</td><td><input type="number" [(ngModel)]="items.sucresMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Poissons – moyenne</td><td><input type="number" [(ngModel)]="items.poissonsMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Fromages – moyenne</td><td><input type="number" [(ngModel)]="items.fromagesMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Oléagineux – moyenne</td><td><input type="number" [(ngModel)]="items.oleagineuxMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Matières grasses – moyenne</td><td><input type="number" [(ngModel)]="items.matieresGrassesMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Boissons – moyenne</td><td><input type="number" [(ngModel)]="items.boissonsMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Œufs</td><td><input type="number" [(ngModel)]="items.oeufs" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Céréales – moyenne</td><td><input type="number" [(ngModel)]="items.cerealesMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Légumes – moyenne</td><td><input type="number" [(ngModel)]="items.legumesMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Fruits – moyenne</td><td><input type="number" [(ngModel)]="items.fruitsMoyenne" /></td><td class="readonly-cell"></td></tr>
            <tr><td>Légumineuse – moyenne</td><td><input type="number" [(ngModel)]="items.legumineuseMoyenne" /></td><td class="readonly-cell"></td></tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="items.connaitQuantiteAliments === false">
        <p>Connaissez-vous le nombre de repas consommés dans l'année par type ?</p>
        <label><input type="radio" name="repasParType" [(ngModel)]="items.connaitRepasParType" [value]="true" /> Oui</label>
        <label><input type="radio" name="repasParType" [(ngModel)]="items.connaitRepasParType" [value]="false" /> Non</label>

        <div *ngIf="items.connaitRepasParType">
          <table class="data-table">
            <thead>
              <tr><th>Type de repas</th><th>Nombre de repas</th><th>Émissions GES (TCO2e/an)</th></tr>
            </thead>
            <tbody>
              <tr><td>Nombre de repas servis – dominante animale boeuf</td><td><input type="number" [(ngModel)]="items.repasAnimalBoeuf" /></td><td class="readonly-cell"></td></tr>
              <tr><td>Nombre de repas servis – dominante animale poulet</td><td><input type="number" [(ngModel)]="items.repasAnimalPoulet" /></td><td class="readonly-cell"></td></tr>
              <tr><td>Nombre de repas servis – dominante végétale boeuf</td><td><input type="number" [(ngModel)]="items.repasVegetaleBoeuf" /></td><td class="readonly-cell"></td></tr>
              <tr><td>Nombre de repas servis – dominante végétale poulet</td><td><input type="number" [(ngModel)]="items.repasVegetalePoulet" /></td><td class="readonly-cell"></td></tr>
              <tr><td>Nombre de repas servis – dominante classique boeuf</td><td><input type="number" [(ngModel)]="items.repasClassiqueBoeuf" /></td><td class="readonly-cell"></td></tr>
              <tr><td>Nombre de repas servis – dominante classique poulet</td><td><input type="number" [(ngModel)]="items.repasClassiquePoulet" /></td><td class="readonly-cell"></td></tr>
              <tr><td>Nombre de repas servis – repas moyen</td><td><input type="number" [(ngModel)]="items.repasMoyen" /></td><td class="readonly-cell"></td></tr>
              <tr><td>Nombre de repas servis – repas végétarien</td><td><input type="number" [(ngModel)]="items.repasVegetarien" /></td><td class="readonly-cell"></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
