<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <div class="form-group">
      <p>Email:</p>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <div class="pwd">
        <p>Password:</p>
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="remember">
      <input type="checkbox" id="remember-me" name="remember-me">
      <label for="remember-me">Remember me</label>
    </div>
    <button type="submit">Login</button>
  </div>
</div>
